hi
{
    color: rgb(71, 175, 114);
}

cd 
{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 4px 8px;
    font-family: 'Courier New', Courier, monospace; 
    color: #ebebeb; 
    text-align: left;
}

m {
  background-color: #222222;
  color: #f1f1f1;
  font-family: monospace;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
  white-space: nowrap;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}

